@import '~antd/dist/antd.css';



::-webkit-selection {
    background: rgba(0,149,255,.2)
}

::-moz-selection {
    background: rgba(0,149,255,.2)
}

::selection {
    background: rgba(0,149,255,.2)
}

body::-webkit-scrollbar {
    width: 10px
}

body::-webkit-scrollbar-thumb {
    background: #bbb
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa
}